<launch>
  <!-- Map File -->
  <arg name="map_file" default="$(find robot_navigation)/map/house.yaml"/>
  <!-- Use backward capability -->
  <arg name="move_forward_only" default="false"/>
	<arg name="cmd_vel_topic" default="/cmd_vel" />
  <arg name="odom_topic" default="/odom" />


  <!-- Map Server -->
  <!-- Publish: /map, /map_metadata -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)" />
	
  <!-- Add AMCL example for differential drive robots for Localization -->
  <!-- Subscribe: /scan, /tf, /initialpose, /map -->
  <!-- Publish: /amcl_pose, /particlecloud, /tf -->
  <include file="$(find robot_navigation)/launch/amcl.launch"/>

  <!-- Move Base Node -->
  <!-- Subscribe: /tf, /map, /scan, /odom, /move_base_simple/goal -->
  <!-- Publish: /cmd_vel -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />

    <rosparam file="$(find robot_navigation)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find robot_navigation)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />

    <rosparam file="$(find robot_navigation)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find robot_navigation)/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find robot_navigation)/param/move_base_params.yaml" command="load" />
    <rosparam file="$(find robot_navigation)/param/dwa_local_planner_params.yaml" command="load" />

    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
    <remap from="odom" to="$(arg odom_topic)"/>
    <param name="DWAPlannerROS/min_vel_x" value="0.0" if="$(arg move_forward_only)" />
  </node>

  <!-- Launch RVIZ Display -->
  <include file="$(find robot_gazebo)/launch/display.launch">
    <arg name="rvizconfig" value="$(find robot_navigation)/param/navigation_rviz.rviz"/>
  </include>

</launch>
